#alwaysTuesday {

    h1 {
        background: $brand-secondary;
        padding: 1rem 0;
        margin-top: 3rem;
        margin-bottom: 2rem;
        
        a {
            color: $brand-base;
            text-decoration: none;
        }

        span {
            position: relative;
        }

        span:before {
            content: '#';
            position: absolute;
            left: -2rem;

            @include bp($desktop) {
                left: -3rem;
            }
        }
    }

    #always-tuesday-gallery {

        @include bp($desktop) {
            margin: 0 auto;
        }

        img {
            width: 100%;
        }

        .gallery-row-2,
        .gallery-row-3,
        .gallery-row-5 {
            margin-top: 1.5em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0 1.5em;
        }

        .gallery-row-3 {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .gallery-row-5 {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            display: none;
        }

        @include bp($desktop) {

            .gallery-row-2,
            .gallery-row-3 {
                display: none;
            }

            .gallery-row-5 {
                display: grid;
            }
        }

    }

}