#contact {

    @include bp($desktop) {
        max-width: 80vw;
        margin: 0 auto;
        padding-bottom: 0;

        h1 {
            padding-top: 5vh;
        }
    }

    p {
        text-align: left;

        a {
            white-space: nowrap;
        }

        @include bp($desktop) {
            font-size: 2rem;
        }
    }

    .form-submitted p{
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label {
        display: none;
    }

    #message-label {
        text-align: left;
        font-size: 1.4rem;
        width: 100%;
        margin-top: 2rem;
    }

    #message-type {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-top: 1rem;

        label {
            display: inherit;
            align-items: center;
            cursor: pointer;

            &:last-of-type {
                margin-left: 1rem;
            }
        }

        input {
            margin: 0;
        }

        span {
            padding-left: .5rem;
            font-size: 1.2rem;
            line-height: 1.2rem;
        }
    }

    input:not([type="radio"]),
    textarea {
        box-sizing: border-box;
        background-color: transparent;
        border: solid 2px $brand-secondary;
        font-size: 1.6rem;
        color: $brand-secondary;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        padding: 1.5rem 2rem;
        display: inline-block;
        width: 100%;
        margin-top: 2rem;
    }

    textarea {
        min-height: 10rem;
        padding: .5rem 1rem;
        max-width: 100%;
    }

    .form-error {
        align-self: flex-start;
        padding-top: .65rem;
        color: $brand-primary;
    }

    button {
        margin-top: 3rem;
        width: 15rem;
        min-width: auto;
        padding: .8rem 2rem;
    }

    .join-the-team {
        margin-top: 3rem;
        margin-bottom: 1rem;
        cursor: pointer;
        font-size: 1.6rem;
    }

    .join-the-team {
        text-align: center;
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}