#hoursLocation {
    position: relative;
    background-image: url("../assets/images/location/smokey-gringo-on-map.jpg");
    background-position: 50% 10%;
    background-size: 120%;

    @include bp($tablet) {
        background-position: 50% 30%;
        background-size: cover;
    }

    @include bp($desktop) {
        min-height: 100vh;
        background-position: 50% 30%;
    }

    @media screen and (min-width: 1024px) and (max-height: 768px) {
        background-position: 50% 40%;
    }

    .content {
        margin-top: 2rem;

        @include bp($desktop) {
            margin-top: 0;
        }

        p {
            text-align: center;
        }
    }

    #hours-location-buttons {
        background-size: contain;

        .btn {
            margin-top: 2rem;
        }
    }
}